html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(#3f51b5, #733ab3);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Gilroy-Normal";
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./assets/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Normal";
  src: url("./assets/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
